.profile__card__photo {
    margin: 9px;
    border-radius: 10px;
    width: 40%;
    height: auto;
    object-fit: cover;
}

.profile__card__details {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    width: 60%;
}

.profile__cancel-icon {
    position: absolute;
    top: 4px;
    right: 4px;
}

.profile__card__info {
    width: 90%;
}