.profile__card__photo {
    margin: 9px;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}

.profile__card__details {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    margin: 0 auto 4px 3px;
    width: 60%;
}

.profile__cancel-icon {
    position: absolute;
    top: 4px;
    right: 4px;
}

.profile__card__info_cell {
    width: 90%;
    flex-grow: 1;
}

.profile__attributes_list {
    display: block;
}

.profile__card__photo__breed {
    display: inline-block;
    background-color: rgb(83, 118, 164);
    padding: 4px 10px;
    border-radius: 24px;
    margin: 6px 5px;
    background-size: 300% 100%;
    transition: all 0.4s ease-in-out;
    font-size: 12px;
    font-weight: 700;
    color: white;
  }
  
  .profile__card__photo__corner {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 9px;
  }
  
  .profile__card__photo__container {
    position: relative;
    height: auto;
    width: auto;
  }
  