.profile__card {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.profile__card__container {
  display: flex;
  flex-direction: row;
}

.profile__card__photo {
  margin: 9px;
  border-radius: 10px;
  height: 180px;
  object-fit: cover;
}

.profile__card__details {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: start;
  margin: 0 auto 10px 3px;
  width: 60%;
  max-height: 185px;
  overflow: hidden;
}

.profile__cancel-icon {
  position: absolute;
  top: 4px;
  right: 4px;
}

.profile__card__info_cell {
  width: 90%;
}

.profile__attributes_list {
  display: block;
}

.profile__card__photo__breed {
  display: inline-block;
  background-color: rgb(83, 118, 164);
  padding: 4px 10px;
  border-radius: 24px;
  margin: 6px 5px;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
  font-size: 12px;
  font-weight: 700;
  color: white;
}

.profile__card__photo__corner {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 9px;
}

.profile__card__photo__container {
  position: relative;
  /* height: 200px; */
  width: auto;
}

.profile__card__info__description {
  display: block;
  /* hide text when we have more than N lines */
  overflow: hidden;
  /* for setting absolutely positioned ellisis '…' */
  position: relative;
  line-height: 1em;
  /* max-height = line-height × line number, 1.2 × 3 = 3.6 */
  max-height: 5em;
  text-align: justify;
  /* place for ellipsis '…' */
}

/* creating ellipsis … */
.profile__card__info__description:before {
  content: "…";
  position: absolute;
  background-color: var(--background_content);
  z-index: 100;
  /* ellipsis move to right bottom corner */
  right: 0;
  bottom: 0;
}

/* hide ellipsis if we have text not more that maximum line numbers */
.profile__card__info__description:after {
  content: "";
  position: absolute;
  /* move to the right bottom corner */
  right: 0;
  /* setting width и height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* hide ellipsis using white background */
  background: white;
}

@media screen and (max-width: 550px) {
  .profile__card {
    height: auto;
    width: auto;
  }
  img.profile__card__photo {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .profile__card__photo__container {
    height: 100%;
  }
  .profile__card__container {
    flex-direction: column;
    height: auto;
  }
  .profile__attributes_list {
    margin-top: 0;
  }
  .profile__card__details {
    width: 100%;
    overflow: hidden;
    margin: 0 12px 13px !important;
  }
  .profile__card__photo__corner {
    margin: 1px -1px !important;
  }
  .profile__card__photo {
    margin: 0;
  }
  .profile__card__info__description {
    max-height: 2em;
  }
}
