.filter__wrapper {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.filter__map {
    margin-right: 5px;
    cursor: pointer;
}

.filter__button {
    cursor: pointer;
}

.checked {
    color: var(--tabbar_active_icon);
}

.active-filter {
    margin-right: 10pt;
}